.Vacancies .container .Vacancies_Container .VacancyBox {
  position: relative;
  width: 100%;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Vacancies .container .Vacancies_Container .VacancyBox .over-layVacancies {
  position: absolute;
  top: -15px;
  height: fit-content;
  padding: 5px 12px;
  border: 1px solid #00859c;
  background-color: #e6f8fc;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #006779;
}
.Vacancies .container .Vacancies_Container .VacancyBox .location {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
.Vacancies .container .Vacancies_Container .VacancyBox .location span {
  position: relative;
  color: var(--main-text-color);
  font-size: 14px;
  font-weight: 300;
}
.Vacancies .container .Vacancies_Container .VacancyBox > .BoxTitle h3 {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #004f5c;
  line-height: 1.4;
}
.Vacancies .container .Vacancies_Container .VacancyBox .JobBtn {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  color: #006779;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid #00859c;
  background-color: #e6f8fc;
  cursor: pointer;
  transition: var(--main-transition);
}
.Vacancies .container .Vacancies_Container .VacancyBox > p {
  position: relative;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.7;
  color: var(--main-text-color);
}
.Vacancies .container .Vacancies_Container .VacancyBox .Apply {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #00aac8;
  background-color: #00aac8;
  cursor: pointer;
  transition: var(--main-transition);
}
.Vacancies .container .Vacancies_Container .VacancyBox .Apply img {
  width: 15px;
  height: 15px;
}
.Vacancies .container .Vacancies_Container .VacancyBox .Apply:hover {
  background-color: var(--main-color-hover);
}
