/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# GraduatesShadowing
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.GraduatesShadowing {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.GraduatesShadowing::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../../../../public/LandingBackground.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.03;
  z-index: 2;
}
.GraduatesShadowing::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #dceef2;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # GraduatesShadowing left
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.GraduatesShadowing .Headprogram {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  width: 100%;
  z-index: 3;
}
@media (max-width: 1200px) {
  .GraduatesShadowing .Headprogram {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
}
.GraduatesShadowing .Headprogram .left {
  position: relative;
  min-width: 500px;
  height: 390px;
  border-radius: 16px;
  border: 1px solid #e8e8e8;
}
@media (max-width: 776px) {
  .GraduatesShadowing .Headprogram .left {
    min-width: 100px;
    height: 390px;
    max-width: 100%;
  }
}
.GraduatesShadowing .Headprogram .left .image-Large {
  position: relative;
  width: 100%;
  height: 100%;
}
.GraduatesShadowing .Headprogram .left .image-Large img {
  position: relative;
  width: 100%;
  border-radius: 16px;
  border: 1px solid #e8e8e8;
  height: 100%;
  object-fit: cover;
}
.GraduatesShadowing .Headprogram .left .image-Small {
  position: absolute;
  top: 20px;
  right: -40px;
  width: 180px;
  height: 130px;
  border-radius: 10px;
  border: 5px solid #f5f5f5;
}
.GraduatesShadowing .Headprogram .left .image-Small img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # GraduatesShadowing right
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.GraduatesShadowing .Headprogram .right {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1200px) {
  .GraduatesShadowing .Headprogram .right {
    width: 100%;
    align-items: center;
  }
}
.GraduatesShadowing .Headprogram .right h1 {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  color: #004f5c;
  width: 80%;
}
@media (max-width: 1200px) {
  .GraduatesShadowing .Headprogram .right h1 {
    width: 100%;
  }
}
.GraduatesShadowing .Headprogram .right p {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  color: #474747;
  line-height: 1.7;
}
.GraduatesShadowing .Headprogram .right > .Apply {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #00aac8;
  background-color: #00aac8;
  cursor: pointer;
  transition: var(--main-transition);
}
.GraduatesShadowing .Headprogram .right > .Apply img {
  width: 15px;
  height: 15px;
}
.GraduatesShadowing .Headprogram .right > .Apply:hover {
  background-color: var(--main-color-hover);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # GraduatesShadowing ContainerOverFlow
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.GraduatesShadowing .ContainerOverFlow {
  position: relative;
  display: flex;
  align-items: center;
  gap: 40px;
  overflow: hidden;
  margin-right: 0;
  width: 87.5%;
  z-index: 3;
}
@media (max-width: 1200px) {
  .GraduatesShadowing .ContainerOverFlow {
    flex-direction: column;
    margin-right: auto;
  }
}
.GraduatesShadowing .ContainerOverFlow .swiperContainer {
  position: relative;
  width: 100%;
}
.GraduatesShadowing .ContainerOverFlow .Programtestimonials {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 230px;
}
.GraduatesShadowing .ContainerOverFlow .Programtestimonials h3 {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  color: #006779;
}
.GraduatesShadowing .ContainerOverFlow .SlideBox {
  position: relative;
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.GraduatesShadowing .ContainerOverFlow .SlideBox > p {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
  color: #000;
}
.GraduatesShadowing .ContainerOverFlow .SlideBox .userBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.GraduatesShadowing .ContainerOverFlow .SlideBox .userBox .rate {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.GraduatesShadowing .ContainerOverFlow .SlideBox .userBox .left {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
.GraduatesShadowing .ContainerOverFlow .SlideBox .userBox .left img {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.GraduatesShadowing .ContainerOverFlow .SlideBox .userBox .left .info {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}
.GraduatesShadowing .ContainerOverFlow .SlideBox .userBox .left .info h3 {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  color: #414141;
}
.GraduatesShadowing .ContainerOverFlow .SlideBox .userBox .left .info p {
  position: relative;
  font-size: 12px;
  font-weight: 300;
  color: #6b6b6b;
}
