/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Vacancies
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Vacancies {
  position: relative;
  width: 100%;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: #f9f9f9;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Vacancies container
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Vacancies .container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Vacancies container info
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Vacancies .container .info {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
@media (max-width: 992px) {
  .Vacancies .container .info {
    flex-direction: column;
  }
}
.Vacancies .container .info .leftInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Vacancies .container .info .leftInfo h3 {
  position: relative;
  font-size: 45px;
  font-weight: 600;
  color: #00bbdc;
}
.Vacancies .container .info .leftInfo p {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  color: #474747;
}
.Vacancies .container .info .search {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 442px) {
  .Vacancies .container .info .search {
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .Vacancies .container .info .search {
    width: 100%;
  }
}
.Vacancies .container .info .search .input-box {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 14px;
  border-radius: 10px;
  background-color: #e8e8e8;
  min-width: 350px;
  max-width: 100%;
}
@media (max-width: 992px) {
  .Vacancies .container .info .search .input-box {
    min-width: 200px;
    width: 100%;
  }
}
.Vacancies .container .info .search .input-box input {
  position: relative;
  background-color: transparent;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 16px;
  font-weight: 300;
  color: #000;
  transition: var(--main-transition);
}
.Vacancies .container .info .search .input-box input::placeholder {
  color: #848484;
}
.Vacancies .container .info .search .input-box img {
  position: relative;
  width: auto;
  height: 15px;
}
.Vacancies .container .info .search .filter-btn button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 14px;
  background-color: #00aac8;
  border-radius: 10px;
  border: 1px solid #00aac8;
  transition: var(--main-transition);
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #e6f8fc;
}
@media (max-width: 442px) {
  .Vacancies .container .info .search .filter-btn,
  .Vacancies .container .info .search .filter-btn button {
    width: 100%;
  }
}
.Vacancies .container .info .search .filter-btn button:hover {
  background-color: var(--main-color);
}
.Vacancies .container .info .search .filter-btn button img {
  position: relative;
  width: 18px;
  height: 18px;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Vacancies container Navigation-Info
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Vacancies .container .Navigation-Info {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
@media (max-width: 776px) {
  .Vacancies .container .Navigation-Info {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
}
.Vacancies .container .Navigation-Info .left {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
.Vacancies .container .Navigation-Info .left p {
  position: relative;
  color: #004f5c;
  font-size: 16px;
  font-weight: 400;
}
.Vacancies .container .Navigation-Info .left span {
  position: relative;
  color: #6b6b6b;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  padding: 8px 12px;
  border-radius: 10px;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Vacancies container PaginationPanal
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@media (max-width: 776px) {
  .Vacancies .container .PaginationPanal {
    position: relative;
    width: 100%;
  }
}
.Vacancies .container .pagination {
  justify-content: center;
  display: flex;
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.Vacancies .container .page-item .page-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2px;
  min-height: 35px;
  min-width: 35px;
  border-radius: 10px;
  text-align: center;
  color: #aaaaaa;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  transition: var(--main-transition);
}

.Vacancies .container .page-item a.page-link:hover {
  color: #ffffff;
  background-color: #00bbdc;
  border: 1px solid #54d1e8;
}

.Vacancies .container .page-item.active .page-link {
  color: #ffffff;
  background-color: #00bbdc;
  border: 1px solid #54d1e8;
}

.Vacancies .container .page-item.disabled .page-link {
  color: #00bbdc;
  background-color: #b0eaf4;
  border: 1px solid #8ae0ef;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Vacancies container box
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Vacancies .container .Vacancies_Container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 15px;
  row-gap: 25px;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Vacancies container FilterPart
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Vacancies .Filter-box-container {
  position: fixed;
  top: 0;
  right: -400px;
  height: 100vh;
  width: 400px;
  background-color: #ffffff;
  padding: 48px;
  border-radius: 16px 0px 0px 16px;
  z-index: 999;
  transition: var(--main-transition);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 442px) {
  .Vacancies .Filter-box-container {
    padding: 20px;
    width: 300px;
  }
}
.Vacancies .Filter-box-container.active {
  right: 0;
}
.Vacancies .Filter-box-container .head-filter {
  position: relative;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.Vacancies .Filter-box-container .head-filter h1 {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #006779;
}
.Vacancies .Filter-box-container .head-filter img {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Vacancies container FilterPart body
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Vacancies .Filter-box-container .body-Filter {
  position: relative;
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  overflow-y: scroll;
}
.Vacancies .Filter-box-container .body-Filter::-webkit-scrollbar-thumb {
  box-shadow: none;
}
.Vacancies .Filter-box-container .body-Filter::-webkit-scrollbar {
  width: 4px;
}
.Vacancies .Filter-box-container .body-Filter .box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.Vacancies .Filter-box-container .body-Filter h4 {
  position: relative;
  color: #6b6b6b;
  font-size: 13px;
  font-weight: 600;
}
.Vacancies .Filter-box-container .body-Filter .box ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Vacancies .Filter-box-container .body-Filter .box ul li label {
  position: relative;
  font-size: 13px;
  font-weight: 300;
  padding-left: 25px;
  color: #6b6b6b;
  cursor: pointer;
}
.Vacancies .Filter-box-container .body-Filter .box ul li label::before {
  position: absolute;
  content: "";
  left: 0;
  width: 15px;
  height: 15px;
  background-color: #e6f8fc;
  border: 1px solid #8ae0ef;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--main-transition);
}
.Vacancies .Filter-box-container .body-Filter .box ul li label::after {
  position: absolute;
  content: "\f00c";
  font-family: "font Awesome 5 free";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 900;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-900deg) scale(0);
  color: #e6f8fc;
  width: 15px;
  height: 15px;
  background-color: #00bbdc;
  border: 1px solid #b0eaf4;
  border-radius: 50%;
  font-size: 100px;
  transition: var(--main-transition);
}
.Vacancies
  .Filter-box-container
  .body-Filter
  .box
  ul
  li
  input:checked
  + label::after {
  font-size: 8px;
  transform: translateY(-50%);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Vacancies container FilterPart Action
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Vacancies .Filter-box-container .Filter-Action {
  position: relative;
  height: 40px;
}
.Vacancies .Filter-box-container .Filter-Action button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 14px;
  background-color: #00aac8;
  border-radius: 10px;
  border: 1px solid #00aac8;
  transition: var(--main-transition);
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #e6f8fc;
  width: 100%;
  height: 100%;
}
.Vacancies .Filter-box-container .Filter-Action button:hover {
  background-color: var(--main-color);
}
.Vacancies .Filter-box-container .Filter-Action button img {
  position: relative;
  width: 18px;
  height: 18px;
}
